{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/About.css" %}" media="screen">
{% endblock %}
{% block content %}
    <div class="u-content-layout u-sheet">
      <aside class="u-indent-40 u-sidebar u-block-8a68-1">
        <div class="u-block u-indent-30 u-block-8a68-2">
          <div class="u-block-container u-clearfix">
            <h5 class="u-block-header u-text u-block-8a68-3"> Block header </h5>
            <div class="u-block-content u-text u-block-8a68-4"> Block content. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices. </div>
          </div>
        </div>
        <div class="u-block u-indent-30 u-block-8a68-5">
          <div class="u-block-container u-clearfix">
            <h5 class="u-block-header u-text u-block-8a68-6"> Block header </h5>
            <div class="u-block-content u-text u-block-8a68-7"> Block content. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices. </div>
          </div>
        </div>
        <div class="u-block u-indent-30 u-block-8a68-8">
          <div class="u-block-container u-clearfix">
            <h5 class="u-block-header u-text u-block-8a68-9"> Block header </h5>
            <div class="u-block-content u-text u-block-8a68-10"> Block content. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices. </div>
          </div>
        </div>
        <style data-mode="XL">.u-block-8a68-1 {
  flex-basis: auto;
  width: 250px;
}
.u-block-8a68-3 {
  font-size: 1.125rem;
  line-height: 2;
}
.u-block-8a68-4 {
  font-size: 0.875rem;
  line-height: 2;
}
.u-block-8a68-6 {
  font-size: 1.125rem;
  line-height: 2;
}
.u-block-8a68-7 {
  font-size: 0.875rem;
  line-height: 2;
}
.u-block-8a68-9 {
  font-size: 1.125rem;
  line-height: 2;
}
.u-block-8a68-10 {
  font-size: 0.875rem;
  line-height: 2;
}</style>
        <style data-mode="LG"></style>
        <style data-mode="MD"></style>
        <style data-mode="SM"></style>
        <style data-mode="XS"></style>
      </aside>
      <div class="u-content"></div>
    </div>
    
    
{% endblock %}